@charset "UTF-8";@import"https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Righteous&display=swap";:root {
    --clr-white: #fff;
    --clr-black: #000;
    --clr-dark: #04020e;
    --clr-violet-normal: #0f0a3c;
    --clr-violet-dark-hover: #090624;
    --clr-violet-dark-active: rgb(7, 5, 27);
    --clr-violet-darker: #050415;
    --clr-violet-light: #100e2b;
    --clr-green-normal: #009f9d;
    --clr-pink-normal: #b9198e;
    --font-family-barlow: "Barlow", sans-serif;
    --font-family-poppins: "Poppins", sans-serif;
    --font-family-right: "Righteous", cursive;
    --transition-default: all .3s ease-in-out
}
*,*:after,*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 12px;
}

body {
    font-size: 1.5rem;
    line-height: 1.6;
    font-family: var(--font-family-barlow);
    color: var(--clr-black);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--clr-dark);
}

img {
    width: 100%;
    display: block;
}
/* navbar */
.sc-fdhCDF {
    min-height: 78px;
    background: rgb(9, 6, 36);
}

.container  {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0.8rem 1.6rem;
}

.w-100 {
    width: 100%;
}

.navbar-brand,.navbar-brand span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    color: var(--clr-white);
}

.navbar-brand span {
    color: var(--clr-pink-normal);
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-nav,.connect-list {
    display: flex;
}

.nav-link {
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    transition: var(--transition-default);
    color: var(--clr-white);
}

.nav-link:hover {
    color: rgb(239, 151, 232);
}

.connect-list {
    margin-left: 100px;
}

.connect-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
    margin-left: 2px;
}

.connect-link {
    padding: 6px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
    transition: var(--transition-default);
    color: var(--clr-white);
}
/* banner */
.sc-fgdThz {
    min-height: 768px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), linear-gradient(248.75deg, rgba(0, 159, 157, 0.41) 0%, rgba(15, 10, 60, 0.41) 38.46%), url('/assets/images/banner_image-smkYSEAN.png') center center / cover no-repeat;
}

.banner-content {
   padding: 12rem 0;
}

.banner-badge {
    padding: 4px 16px;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.1em;
    display: inline-block;
    margin-bottom: 25px;
    border: 2px solid rgb(239, 151, 232);
    border-radius: 10px;
    color: var(--clr-white);
}

.banner-title {
    text-transform: uppercase;
    font-family: var(--font-family-right);
    font-size: 55px;
    font-weight: 400;
    letter-spacing: 0.09em;
    line-height: 1.2;
    max-width: 600px;
    margin-bottom: 25px;
    color: var(--clr-white);
}

.banner-lead {
    max-width: 600px;
    font-size: 20px;
    font-weight: 400;
    color: var(--clr-white);
}

.btn-custom {
    font-family: var(--font-family-right);
    margin-top: 25px;
    color: rgb(255, 255, 255);
    width: 160px;
    height: 45px;
    text-transform: uppercase;
    border: none;
    background: rgb(255, 154, 255);
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 600;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-default);
    box-shadow: 0 5px 15px 0 rgb(255, 154, 255);
}

.btn-custom > span {
    font-size: 18px;
    padding: 0px 5px;
}

.btn-1:hover {
    transform: translate(0,-3px);
    box-shadow: 0 20px 40px 0 rgba(11, 99, 246, 1);
}
/* popular games */
.sc-sdsPFK {
    background: var(--clr-violet-dark-active);
    padding-bottom: 30px;
}

.sc-sghRfa {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.upxXb,.genres-title {
    padding: 12px 0px;
    text-align: center;
    font-weight: 800;
    font-size: 32px;
    letter-spacing: 0.1em;
    color: var(--clr-white);
    margin: 50px 0 18px;
    font-family: var(--font-family-poppins);
}

.upxXb h3 {
    text-transform: uppercase;
}

.upxXb span {
    padding: 0 7px;
    color: var(--clr-pink-normal);
}

.line {
    height: 6px;
    width: 160px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background-color: var(--clr-green-normal);
}

.line::after{
    content: "";
    position: absolute;
    left: -7px;
    top: 0px;
    border-right: 8px solid var(--clr-green-normal);
    border-top: 3.5px solid transparent;
    border-bottom: 3.5px solid transparent;
}

.line::before{
    content: "";
    position: absolute;
    right: -7px;
    top: 0px;
    border-left: 8px solid var(--clr-green-normal);
    border-top: 3.5px solid transparent;
    border-bottom: 3.5px solid transparent;
}
/* card list */
.card-list,.creators-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    margin-top: 50px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-top {
    height: 280px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.card-rating {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    background-color: var(--clr-white);
    border: none;
    border-radius: 16px;
    font-weight: 700;
    font-size: 14px;
    padding: 0px 10px;
    z-index: 9999;
}

.st-1 {
    margin-left: 4px;
}

.card-top img {
    height: 100%;
    object-fit: cover;
}

.card-bottom {
    flex:  1 1 0%;
    padding: 20px 15px;
    background-color: var(--clr-violet-light);
}

.card-title {
    font-size: 20px;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
    font-family: var(--font-family-poppins) !important;
    color: var(--clr-white);
    text-transform: uppercase;
}

.group-detaile {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.detaile-item {
    display: flex;
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
}

.detaile-name {
    font-weight: 600;
    padding-right: 8px;
}

.detaile-btn-custom {
    height: 34px;
    text-align: center;
    border: 1px solid var(--clr-green-normal);
    padding: 0px 16px;
    min-width: 108px;
    color: var(--clr-white);
    font-weight: 600;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: var(--transition-default);
}

.detaile-btn-custom:hover {
    background: var(--clr-green-normal);
}

.card-button {
    padding: 10px 18px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .15em;
    color: var(--clr-white);
    border: 4px solid var(--clr-violet-normal);
    position: relative;
    

    &::before {
        content: "";
        width: 20px;
        height: 4px;
        position: absolute;
        top: -4px;
        left: 0px;
        display: block;
        background-color: var(--clr-violet-dark-active);
        transition: 500ms ease-in-out;
    }

    &::after {
        content: "";
        width: 20px;
        height: 4px;
        position: absolute;
        bottom: -4px;
        right: 0px;
        display: block;
        background-color: var(--clr-violet-dark-active);
        transition: 500ms ease-in-out;
    }

    &:hover {
        &::before {
            left: calc(100% - 20px);
        }

        &::after {
            right: calc(100% - 20px);
        }
    }
}

/* slider */
.section {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: rgb(5, 4, 21);
}

.swiper {
    width: 100%;
    height: 100%;
    padding: 110px 12px 140px 12px !important;
}

.swiper-slide {
    border: 6px solid var(--clr-pink-normal);
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}

.swiper-pagination-bullet {
    width: 3.4% !important;
    height: 10px !important;
    border: 2px solid var(--clr-pink-normal) !important;
    border-radius: 0px !important;
    color: unset;
    transition: var(--transition-default);
}

.swiper-pagination-bullet-active {
    background-color: var(--clr-pink-normal) !important; 
} 

/* join section */
.sc-join {
    display: flex;
    align-items: center;
    min-height: 640px;
    color: var(--clr-white);
}

.join-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.join-title {
    font-family: var(--font-family-right);
    font-size: 44px;
    letter-spacing: 0.09em;
    padding-bottom: 20px;
}

.join-title span {
    color: var(--clr-green-normal);
}

.join-lead {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 25px;
}

.join-btn {
    border: none;
    border-radius: 5px;
    padding: 10px 18px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: .10em;
    background-color: var(--clr-green-normal);
    cursor: pointer;
    transition: var(--transition-default);
}

.join-btn a {
    color: var(--clr-white);
}

.join-btn:hover {
    transform: scale(1.1);
}

/* Top Genres */
.sc-genres {
    position: relative;
    padding: 60px 0px;
    background-color: var(--clr-violet-dark-active);
}

.genres-title {
    padding: 12px 0px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 0.1em;
    color: var(--clr-white);
    margin-top: 0;
    font-family: var(--font-family-poppins);
}

.genres-title span {
    padding-left: 5px;
    color: rgb(239, 151, 232);
}

.sc-DfghF {
    padding-top: 5rem;
}

.container-genres {
    display: flex;
    justify-content: center;
    padding-left: 4rem;
}

.list-genres {
    position: absolute;
    left: 0;
    z-index: 9999;
}

.genres-item {
    padding: 12px 30px;
    font-family: Barlow;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.1em;
    width: 100%;
    text-align: start;
}

.genres-item a {
    color: var(--clr-white);
}

.sc-ktwOf {
    width: 330px;
}

.card-top::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.15;
}

.sc-grasf {
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    flex-direction: column;
}

.sc-sfks {
    margin-top: 20px;
}
/* games stores */
.sc-store {
    padding: 60px 0px;
    background: linear-gradient(rgba(12, 10, 36, 0.73) 0%, rgba(0, 0, 0, 0.73) 72.92%), url(../images/store_image-6FRiqSup.jpg) center center / cover no-repeat;
}

.sc-store h3 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 0.1em;
    color: var(--clr-white);
    margin-bottom: 20px;
    font-family: var(--font-family-poppins);
}

.aside-title {
    color: rgb(239, 151, 232);
}

.sc-FgFhjg,.card-store {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.card-store {
    min-height: 120px;
    margin: 16px 0px;
    background-color: rgb(40, 59, 92);
    border-radius: 13px;
}

.card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-store-title {
    letter-spacing: 0.04em;
    color: rgb(11, 8, 45);
    font-size: 16px;
    display: inline-block;
    transition: var(--transition-default);
}

.text-white {
    text-transform: uppercase;
    color: var(--clr-white);
}

.card-store-info span {
    font-weight: 700;
}

li a {
    color: rgb(255, 255, 255);
}

.card-container {
    padding: 20px 0px;
}

.card-store-games {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.card-store-games > li {
    background-color: rgb(185, 25, 142);
    border-radius: 100vh;
    padding-right: 8px;
    padding-left: 8px;
    height: 25px;
}

.game-name {
    color: var(--clr-white);
    font-size: 15px;
    display: inline-block;
    transform: translateY(-3px);
    font-style: italic;
}
/* Footer */
footer {
    background-color: var(--clr-violet-darker);
}

.footer-top {
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 30px;
   color: var(--clr-white);
}

.footer-brand {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 18px;
    color: var(--clr-white);
}

.footer-brand-aside {
    color: rgb(239, 151, 232);
}

.footer-lead {
    max-width: 400px;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #ffffffe6;
}

.footer-title {
    text-transform: uppercase;
    margin-bottom: 12px;
    font-size: 20px;
    letter-spacing: 0.03em;
    font-weight: 700;
}

.footer-nav-item {
    margin: 6px 0px;
}

.footer-nav-link {
    font-size: 1.4rem;
    position: relative;
}

.footer-nav-link:hover::after {
    opacity: 1;
}

.footer-nav-link::after {
    content: "";
    height: 2px;
    width: 100%;
    background: var(--clr-white);
    position: absolute;
    left: 0px;
    bottom: 0px;
    opacity: 0;
    transition: opacity 0.3s ease; 
}


.pole-container {
    display: flex;
}

.input-email {
    border: none;
    outline: none;
    resize: none;
    font-family: inherit;
    font-size: 1.35rem;
    font-weight: 600;
    background: rgb(12, 10, 36);
    padding: 12px 22px;
    color: var(--clr-white);   
}

.svg-btn {
    width: 48px;
    border: none;
    background-color: var(--clr-white);
    color: rgb(12, 10, 36);
    cursor: pointer;
    transition: transform 0.5s;
}

.svg-btn:hover {
    transform: scale(1.1);
}
/* creators */
.section-creators {
    padding: 50px 0px;
    background-color: var(--clr-violet-dark-active);
}

.creators-title-page {
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 0.1em;
    color: var(--clr-white);
    margin-bottom: 20px;
    font-family: var(--font-family-poppins);
}

.creators-title-page span {
    color: rgb(239, 151, 232);
}   

.sc-flex {
    display: flex;
    flex-direction: column;
    min-height: 360px;
    margin-bottom: 80px;
    padding: 0px 32px 24px;
}

.background-img {
    background: linear-gradient(rgba(7, 5, 27, 0.9), rgba(0, 0, 0, 0.95)), url(../images/games/2bac0e87cf45e5b508f227d281c9252a.jpg) center center / cover no-repeat;
}

.creator-images img {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
    border-radius: 50%;
    border: 2px solid var(--clr-white);
    transition: var(--transition-default);
}

.creator-images img:hover {
    transform: scale(1.1);
}

.creator-card-bottom {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    color: var(--clr-white);
}

.creator-name {
    font-size: 24px;
}

.info-item {
    margin-top: 10px;
}
.info-item > span {
    margin-left: 2px;
    font-weight: 600;
}
/* stores */
.store-section {
    padding: 60px 0px;
    background-color: var(--clr-violet-dark-active);
}

.store-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 0.1em;
    color: var(--clr-white);
    margin-bottom: 20px;
    font-family: var(--font-family-poppins);
}

.store-title span {
    color: rgb(239, 151, 232);
}
/* games */
.sc-games {
    margin-bottom: 45px;
}
